body{
    margin:0 auto;
    background: url(../imagens/ceu.jpeg)
}
header{
    width: 100vw;
    height: 450px;
    background: url(../imagens/defender.jpg);
    background-position: center center; 
}
aside{
    width: 30vw;
    text-align:justify ;
    margin-left: 30px;

}
footer{
    width: 100vw;
    height: 50px;
    background-color:aquamarine;
    clear: both;
    bottom: 0px;
}
#maos{
    width: 200px;
    height: 200px;
    margin: 2px;
}
nav{
    display: block;
    float: right;
}
#banner {
    width: 100vw;

}

#denuncia{
    display: block;
    float: right;
}